<!doctype html>
<html lang="en">
<head>
  <title><%= appName %></title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon.png">

<% if (env == 'development') {
     css.forEach(function(asset) {
       print('  <link rel="stylesheet" href="' + asset.substring(8) + '"/>\n');
     });
   } else if (env == 'production') {
     print('  <link rel="stylesheet" href="css/app.css" />');
   } %>

  <script src="cordova.js"></script>
<% if (env == 'development') {
  print('  <script src="js/config/development.js"></script>');
     js.forEach(function(asset){
       print('  <script src="' + asset.substring(8) + '"></script>\n');
     });
   } else if (env == 'production') {
     print('  <script src="js/application.js"></script>');
   } %>

</head>
<body>

  <div id="container" class="container">
    <div
      id="main"
      ng-view></div>
  </div>

  <script type="text/javascript">
    pg.initialize();
  </script>

</body>
</html>
