<!doctype html>
<html lang="en">
<head>
  <title>APP TITLE</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon.png">

<% if (env == 'development') {
     css.forEach(function(asset) {
       print('  <link rel="stylesheet" href="' + asset.substring(6) + '"/>\n');
     });
   } else if (env == 'production') {
     print('  <link rel="stylesheet" href="css/app.css" />');
   } %>

</head>
<body>

  <div id="container" class="container">
    <div id="main" ng-view></div>
  </div>

<% if (env == 'development') {
     js.forEach(function(asset){
       print('  <script src="' + asset.substring(6) + '"></script>\n');
     });
   } else if (env == 'production') {
     print('  <script src="js/app.js"></script>');
   } %>

  <script type="text/javascript">
    pg.initialize();
  </script>
</body>
</html>

